<div class="card border-left-warning  shadow     ">
    <div class="card-header">
        <h5 class="headerTitle"> PERFIL </h5>
    </div>
    <div class="card-body">
        <div class="row" *ngIf="usuariosProfile.length >0">
            <!-- <div class="col-md-6 col-lg-8">
                <form [formGroup]="formParams" style=" margin-top: -15px;">

                    <fieldset class="shadow">
                        <legend>Datos Generales</legend>
                        <div class="panel panel-default ">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label> ID Usuario</label>
                                        <input type="text" class="form-control form-control-sm disabledForm " formControlName="id_Usuario">
                                    </div>
                                </div>

                                <div class="row ">
                                    <div class="col-4">
                                        <label> Nro Documento</label>
                                        <input type="number" id="txtBuscarDoc" class="form-control form-control-sm  disabledForm " maxlength="20" formControlName="nrodoc_usuario">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 ">
                                        <label> Apellido </label>
                                        <input type="text" class="form-control " maxlength="150" formControlName="apellidos_usuario">
                                    </div>
                                    <div class="col-md-6 ">
                                        <label> Nombres </label>
                                        <input type="text" class="form-control " maxlength="150" formControlName="nombres_usuario">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12" style="margin-bottom: 15px;">
                                        <label> Email </label>
                                        <input type="text" class="form-control " maxlength="150" formControlName="email_usuario">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </fieldset>
                    <br>

                    <div class="row">
                        <div class="col-md-12">
                            <fieldset class="shadow">
                                <legend>Ingreso Sistema</legend>
                                <div class="panel panel-default ">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label> Login </label>
                                                <input type="text" class="form-control " maxlength="100" formControlName="login_usuario">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label> Constraseña </label>
                                                <input type="password" class="form-control " maxlength="50" formControlName="contrasenia_usuario">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for=""> Rol</label>
                                                <select class="form-control comboBox" id="cbo_cargo" formControlName="id_Perfil">
                                                    <option value="0"> [ --SELECCIONE-- ]</option>
                                                    <option [value]="cargo.id_perfil" *ngFor="let cargo of perfiles">{{cargo.descripcion_perfil}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <label> Estado</label>
                                                <select class="form-control comboBox" formControlName="estado">
                                                    <option value="-1"> [ --SELECCIONE-- ]</option>
                                                    <option value="1"> Activo </option>
                                                    <option value="0"> Anulado </option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </fieldset>
                        </div>

                    </div>
                    <br>
                </form>
            </div>
            <div class="col-md-6 col-lg-4">
                <fieldset class="shadow" style=" margin-top: -15px;">
                    <legend>Foto</legend>
                    <div class="panel panel-default ">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-sm-12">
                                        <div (click)="openFile();" style="text-align: center; cursor:pointer" title=" Click para agregar o reemplazar la imagen">
                                            <img [src]="imgProducto" title=" Click para agregar o reemplazar la imagen" class="mx-auto d-block" style="width: 100%;height: 230px;">
                                        </div>
                                        <label class="import-file" style="display:none;">                                                  
                                            <input type="file" id="inputFileOpen" class="form-control-file btn" name="file" accept="image/x-png,image/gif,image/jpeg" (change)="onFileChange($event)" />
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div> -->

            <div class="col-md-6 col-lg-8">
                <form [formGroup]="formParams" style=" margin-top: -15px;">

                    <fieldset class="shadow">
                        <legend>Datos Generales</legend>
                        <div class="panel panel-default ">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label> ID Usuario</label>
                                        <input type="text" class="form-control form-control-sm disabledForm " formControlName="id_Usuario">
                                    </div>
                                    <div class="col-3">
                                        <br>
                                        <div class="custom-control custom-checkbox custom-control-inline ">
                                            <input type="checkbox" [id]="9999" formControlName="es_supervisor" (change)="onChange_supervisor($event)" class="custom-control-input">
                                            <label class="custom-control-label" [for]="9999">ES SUPERVISOR </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4 ">
                                        <label> Apellido Paterno </label>
                                        <input type="text" class="form-control " maxlength="250" formControlName="apellido_paterno_usuario">
                                    </div>
                                    <div class="col-md-4 ">
                                        <label> Apellido Materno  </label>
                                        <input type="text" class="form-control " maxlength="250" formControlName="apellido_materno_usuario">
                                    </div>
                                    <div class="col-md-4 ">
                                        <label> Nombres </label>
                                        <input type="text" class="form-control " maxlength="150" formControlName="nombres_usuario">
                                    </div>
                                </div>

                                <div class="row ">
                                    <div class="col-4">
                                        <label> Nro Documento</label>
                                        <input type="number" id="txtBuscarDoc" class="form-control form-control-sm  " maxlength="20" formControlName="nrodoc_usuario">
                                    </div>
                                    <div class="col-4">
                                        <label> Fecha Nacimiento</label>
                                        <input class="form-control" #datepickerYMD="bsDatepicker" bsDatepicker formControlName="fecha_nacimiento_usuario" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY'  }">
                                    </div>
                                    <div class="col-4">
                                        <label> Sexo</label>
                                        <select class="form-control comboBox" formControlName="sexo_usuario">
                                            <option value="0"> [ --SELECCIONE-- ]</option>
                                            <option value="M"> Masculino </option>
                                            <option value="F"> Femenino </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-8">
                                        <label> Email </label>
                                        <input type="text" class="form-control " maxlength="150" formControlName="email_usuario">
                                    </div>
                                    <div class="col-md-4">
                                        <label> Nro Celular </label>
                                        <input type="number" class="form-control " maxlength="150" formControlName="celular_usuario">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6" style="margin-bottom: 15px;">
                                        <label> Supervisor</label>
                                        <select class="form-control comboBox" id="cbo_supervisor" formControlName="id_supervisor">
                                            <option value="0"> [ --SELECCIONE-- ]</option>
                                            <option [value]="sup.id_Usuario" *ngFor="let sup of supervisores">{{sup.supervisor}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <br>

                    <div class="row">
                        <div class="col-md-12">
                            <fieldset class="shadow">
                                <legend>Ingreso al sistema</legend>
                                <div class="panel panel-default ">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label> Login </label>
                                                <input type="text" class="form-control " maxlength="100" formControlName="login_usuario">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label> Constraseña </label>
                                                <input type="password" class="form-control " maxlength="50" formControlName="contrasenia_usuario">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for=""> Rol</label>
                                                <select class="form-control comboBox" id="cbo_cargo" formControlName="id_Perfil">
                                                    <option value="0"> [ --SELECCIONE-- ]</option>
                                                    <option [value]="cargo.id_perfil" *ngFor="let cargo of perfiles">{{cargo.descripcion_perfil}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <label> Estado</label>
                                                <select class="form-control comboBox" formControlName="estado">
                                                    <option value="-1"> [ --SELECCIONE-- ]</option>
                                                    <option value="1"> Activo </option>
                                                    <option value="0"> Anulado </option>
                                                </select>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                    </div>
                    <br>
                </form>
            </div>
            <div class="col-md-6 col-lg-4">
                <fieldset class="shadow" style=" margin-top: -15px;">
                    <legend>Imagen</legend>
                    <div class="panel panel-default ">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-sm-12">
                                        <div (click)="openFile();" style="text-align: center; cursor:pointer" title=" Click para agregar o reemplazar la imagen">
                                            <img [src]="imgProducto" title=" Click para agregar o reemplazar la imagen" class="mx-auto d-block" style="width: 100%;height: 230px;">
                                        </div>
                                        <label class="import-file" style="display:none;">                                                  
                                            <input type="file" id="inputFileOpen" class="form-control-file btn" name="file" accept="image/x-png,image/gif,image/jpeg" (change)="onFileChange($event)" />
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>


        </div>
        <hr style="background-color: white;">


        <div class="d-flex justify-content-center">
            <div class="p-2 bd-highlight">
                <button class="btn btn-success" (click)="saveProfileUsuario()" title="Guardar la informacion"> <i class="fas fa-save"> Grabar</i></button>
            </div>
        </div>
    </div>
</div>