<div class="card border-left-warning  shadow   ">
    <div class="card-header">
        <h5 class="headerTitle"> SOLICITUD NUEVOS MEDICOS </h5>
    </div>
    <div class="card-body">

        <form [formGroup]="formParamsFiltro">

            <div class="row" style="margin-top: -10px;">
                <div class="col-md-3">
                    <label for=""> Usuarios</label>
                    <br>
                    <select class="form-control comboBox" formControlName="idUsuario">
                        <option [value]="user.id_Usuario" *ngFor="let user of usuarios">{{user.descripcionUsuario}}</option>
                    </select>
                </div>
                <div class="col-md-3">

                    <label class="control-label"> Rango Fecha </label>
                    <div class="input-group">
                        <input class="form-control" #datepickerYMD="bsDatepicker" bsDatepicker formControlName="fecha_ini" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY'  }">
                        <span class="input-group-addon">-</span>
                        <input class="form-control" #datepickerYMD="bsDatepicker" bsDatepicker formControlName="fecha_fin" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                    </div>

                </div>
                <div class="col-md-3">
                    <label for=""> Estado</label>
                    <br>
                    <select class="form-control comboBox " formControlName="idEstado">
                        <option value="0"> [ -- TODOS-- ]</option>
                        <option [value]="estado.id_Estado" *ngFor="let estado of estados">{{estado.descripcion_estado}}</option>
                    </select>
                </div>
                <div class="col-md-3 text-center">
                    <div class="col-md-2 text-center">
                        <br>
                        <div class="btn-group btn-block ">
                            <button type="button" class="btn btn-dark dropdown-toggle" style="font-family: 'Montserrat', sans-serif;font-size: 15px;font-weight: 600;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">  ACCIONES   </button>
                            <div class="dropdown-menu text-center ">
                                <div class="p-2">
                                    <button class="btn btn-primary btn-block  " style="font-size: 13px;" (click)="mostrarInformacion_solicitudCabecera()">  <i class="fas fa-search"> Mostrar </i> </button>
                                </div>
                                <div class="p-2">
                                    <button class="btn btn-warning btn-block  " style="font-size: 13px;" (click)="nuevoSolicitud()">   <i class="fa fa-plus-circle"> Nueva</i> </button>
                                </div>
                                <!-- <div class="dropdown-divider"></div>
                                <div class="p-2">
                                    <button class="btn btn-success btn-block  " style="font-size: 13px;">  <i class="fa fa-download"> Exportar</i> </button>
                                </div> -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </form>
        <hr>
        <div class="d-flex justify-content-between" style=" margin-top: -15px;">
            <div class="p-2 bd-highlight"> </div>
            <div class="p-2 bd-highlight" style="width: 50%;">
                <input type="text" class="form-control form-control-sm " placeholder="Buscar" maxlength="50" [(ngModel)]="filtrarMantenimiento">
            </div>
            <div class="p-2 bd-highlight"> </div>
        </div>

        <div class="search-results tableFixHead">
            <table class="table  table-hover table-sm">
                <thead class="theadTable">

                    <tr style="height: 40px !important;">
                        <th scope="col">#</th>
                        <th scope="col">NRO</th>
                        <th scope="col">Solicitante</th>
                        <th scope="col">Fecha Solicitud</th>
                        <th scope="col">Medico</th>
                        <th scope="col">Fecha Respuesta</th>
                        <th scope="col">Comentario Respuesta</th>
                        <th scope="col">Estado</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of solicitudCab |  filter: filtrarMantenimiento  ; index as j" [ngStyle]="item.id_estado == 12 && {'color': 'red'}">
                        <th scope="row"> {{j + 1}} </th>
                        <td>{{item.id_Sol_Medico_cab}} </td>
                        <td>{{item.solicitante}} </td>
                        <td>{{item.fechaSolicitudFormateado}} </td>
                        <td>{{item.medico}} </td>
                        <td>{{item.fechaRespuesta}} </td>
                        <td>{{item.comentarioRespuesta}} </td>
                        <td style="font-size: 13px;">{{item.descripcionEstado}}</td>
                        <td class="text-center">
                            <span class="badge badge-info puntero btn-block" *ngIf="(item.id_estado == 11 ) " style="padding: 5px;font-size: 9px;" (click)="editar_solicitudCab(item)">  Editar </span>
                            <span class="badge badge-dark puntero btn-block" *ngIf="( item.id_estado == 12 || item.id_estado == 13 ) " style="padding: 5px;font-size: 9px;" (click)="editar_solicitudCab(item)">  Visualizar </span>
                            <span class="badge badge-warning puntero btn-block" *ngIf="(item.id_estado == 14 ) " style="padding: 5px;font-size: 9px;" (click)="editar_solicitudCab(item)">  Editar </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>


<div class="modal fade " id="modal_solicitud" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel  " aria-hidden="true">
    <div class="modal-dialog modal-lg   modal-dialog-scrollable " role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="p-3 card ">
                    <div class="d-flex justify-content-between flotante">
                        <div class=" bd-highlight">
                            <!-- <i class="fas fa-arrow-circle-left  fa-2x puntero" title="Retornar" (click)="cerrarModal_solicitud()">  </i> -->
                        </div>
                        <div class=" bd-highlight">
                            <h5 class="headerTitleModal"> GENERACION DE UNA NUEVA SOLICITUD DE MEDICO </h5>
                        </div>
                        <div class=" bd-highlight">
                            <i class="far fa-times-circle fa-2x puntero" title="Retornar" (click)="cerrarModal_solicitud()">  </i>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="p-2 bd-highlight"> </div>
                    <div class="p-2 bd-highlight"></div>
                    <div class="p-2 bd-highlight">

                        <!-- <div class="card border-warning " *ngIf="idEstadoSolicitudGlobal==10 ">
                            <div class="card-body text-warning" style="    margin-bottom: -15px; margin-top: -15px; width: 300px; text-align: center;">
                                <strong style="font-size: 15px; margin-bottom: 0px; font-weight: 700;"> {{this.descripcionEstadoGlobal | uppercase}} </strong>
                            </div>
                        </div> -->
                        <div class="card border-info " *ngIf="idEstadoSolicitudGlobal ==11">
                            <div class="card-body text-info" style="margin-bottom: -15px; margin-top: -15px; width: 300px; text-align: center;">
                                <i class="fas fa-share-square"></i>
                                <strong style="font-size: 15px; margin-bottom: 0px; font-weight: 700;"> {{this.descripcionEstadoGlobal | uppercase}} </strong>
                            </div>
                        </div>

                        <div class="card border-danger " *ngIf="idEstadoSolicitudGlobal ==12">
                            <div class="card-body text-danger" style="margin-bottom: -15px; margin-top: -15px; width: 300px; text-align: center;">
                                <i class="fas fa-window-close"></i>
                                <strong style="font-size: 15px; margin-bottom: 0px; font-weight: 700;"> {{this.descripcionEstadoGlobal | uppercase}} </strong>
                            </div>
                        </div>
                        <div class="card border-success " *ngIf="idEstadoSolicitudGlobal ==13">
                            <div class="card-body text-success" style=" margin-bottom: -15px; margin-top: -15px; width: 300px; text-align: center;">
                                <i class="far fa-check-circle"></i>
                                <strong style="font-size: 15px; margin-bottom: 0px; font-weight: 700;"> {{this.descripcionEstadoGlobal | uppercase}} </strong>
                            </div>
                        </div>

                        <div class="card border-warning " *ngIf="idEstadoSolicitudGlobal ==14">
                            <div class="card-body text-warning" style=" margin-bottom: -15px; margin-top: -15px; width: 300px; text-align: center;">
                                <i class="far fa-check-circle"></i>
                                <strong style="font-size: 15px; margin-bottom: 0px; font-weight: 700;"> {{this.descripcionEstadoGlobal | uppercase}} </strong>
                            </div>
                        </div>

                    </div>

                </div>


                <form [formGroup]="formParamsSolCab" style=" margin-top: -15px;">

                    <fieldset class="shadow-sm  ">
                        <legend>DATOS SOLICITUD</legend>
                        <div class="panel panel-default ">
                            <div class="panel-body">
                                <div class="row" style=" margin-top: -10px;">
                                    <div class="col-md-12">
                                        <div class="row ">
                                            <div class="col-md-8">
                                                <label> Usuario </label>
                                                <input type="text" class="form-control disabledForm " maxlength="250" formControlName="solicitante">
                                            </div>
                                            <div class="col-md-4">
                                                <label> Fecha Solicitud </label>
                                                <input class="form-control disabledForm" #datepickerYMD="bsDatepicker" bsDatepicker formControlName="fechaSolicitud" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY'  }">
                                            </div>
                                        </div>
                                        <!-- <div class="row ">
                                            <div class="col-md-4">
                                                <label> Fecha Solicitud </label>
                                                <input class="form-control disabledForm" #datepickerYMD="bsDatepicker" bsDatepicker formControlName="fechaSolicitud" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY'  }">
                                            </div>
                                        </div> -->
                                    </div>
                                    <!-- <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label> Mensaje solicitud </label>
                                                <textarea class="form-control " maxlength="255" style=" font-weight: 500;font-size: 12px;" formControlName="descripcionSolicitud" rows="4"></textarea>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <!-- <div class="row" style="margin-top: 10px;margin-bottom: -6px;">
                        <div class="col-md-12 text-center" *ngIf="idEstadoSolicitudGlobal == 11">
 
                            <button class="btn btn-sm btn-success " *ngIf="idSol_CabGlobal > 0" (click)="enviarSolicitud()">  <i class="fas fa-file-download"> REGISTAR SOLICITUD </i> </button>
                        </div>
                    </div> -->

                    <fieldset class="shadow-sm mt-2">
                        <legend>DETALLE DE SOLICITUD</legend>
                        <div class="panel panel-default ">
                            <div class="panel-body">
                                <!-- <div style=" margin-top: -10px !important; margin-bottom: 10px;" *ngIf="idEstadoSolicitudGlobal == 11" > -->
                                <div style=" margin-top: -10px !important; margin-bottom: 10px;" *ngIf="flag_modoEdicionSolicitud == false">
                                    <button class="btn btn-sm btn-warning " (click)="nuevo()">  <i class="fa fa-plus-circle"></i>  Agregar Médico </button>
                                </div>

                                <div class="search-results tableFixHead">
                                    <table class="table  table-hover table-sm">
                                        <thead class="theadTable2">

                                            <tr style="height: 40px !important;">
                                                <th scope="col">#</th>
                                                <th scope="col">CMP</th>
                                                <th scope="col">Medico</th>
                                                <th scope="col">Categoria</th>
                                                <th scope="col">Especialidad</th>
                                                <th scope="col">Aprobador</th>
                                                <th scope="col">Fecha Respuesta</th>
                                                <th scope="col">Mensaje Respuesta</th>
                                                <th scope="col">Estado</th>
                                                <th class="text-center">Editar</th>
                                                <th class="text-center" *ngIf="idEstadoSolicitudGlobal == 11">Eliminar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of solicitudDetalle; index as j" [ngStyle]="item.estado == 12 && {'color': 'red'}">
                                                <th scope="row"> {{j + 1}} </th>
                                                <td>{{item.cmp_medico}} </td>
                                                <td>{{item.nombres_medico}} {{item.apellido_paterno_medico}} {{item.apellido_materno_medico}} </td>
                                                <td>{{item.codigo_categoria}} </td>
                                                <td>{{item.codigo_especialidad}} </td>

                                                <td>{{item.aprobadorRechazador}} </td>
                                                <td>{{item.fechaRespuesta}} </td>
                                                <td>{{item.descripcionRespuesta}} </td>

                                                <td>{{item.descripcion_estado}}</td>
                                                <td class="text-center">
                                                    <!-- <span class="badge badge-primary puntero" style="padding: 5px;" (click)="editar(item)">  Editar  </span> -->
                                                    <span class="badge badge-primary puntero btn-block" *ngIf="(idEstadoSolicitudGlobal == 11 || idEstadoSolicitudGlobal == 14 ) " style="padding: 5px;font-size: 9px;" (click)="editar(item)">  Editar </span>
                                                    <span class="badge badge-info puntero btn-block" *ngIf="( idEstadoSolicitudGlobal == 12 || idEstadoSolicitudGlobal == 13 ) " style="padding: 5px;font-size: 9px;" (click)="editar(item)">  Ver </span>
                                                </td>
                                                <td class="text-center" *ngIf="(idEstadoSolicitudGlobal == 11) ">
                                                    <span class="badge badge-danger puntero" *ngIf="item.estado == 10" style="padding: 5px;" (click)="eliminar(item)">  Eliminar  </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>


                            </div>
                        </div>
                    </fieldset>
                </form>


            </div>
            <!-- <div class="modal-footer">

            </div> -->
        </div>
    </div>
</div>

<!-- ------------------------------MEDICOS -->

<div class="modal fade " id="modal_solicitudDetalle" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel  " aria-hidden="true">
    <div class="modal-dialog modal-lg   modal-dialog-scrollable " role="document">
        <div class="modal-content">
            <div class="p-3 card " style="color: #117a8b; font-family: 'Montserrat', sans-serif !important;font-weight: 600;">
                <div class="d-flex justify-content-between flotante">
                    <div class=" bd-highlight">
                        <!-- <i class="fas fa-arrow-circle-left  fa-2x puntero" style="color: cyan !important" title="Retornar" (click)="cerrarModal()">  </i> -->
                    </div>
                    <div class=" bd-highlight">
                        <h5 style="color: #117a8b; font-family: 'Montserrat', sans-serif !important;font-weight: 600"> NUEVO MEDICO </h5>
                    </div>
                    <div class=" bd-highlight">
                        <i class="far fa-times-circle fa-2x puntero" title="Retornar" (click)="cerrarModal()">  </i>
                    </div>
                </div>
            </div>
            <div class="modal-body" style="margin-top: -14px;">

                <div class="row">
                    <div class="col-md-12">
                        <fieldset class="shadow" style="    background-color: ivory;">
                            <legend>Datos Médico</legend>
                            <div class="panel panel-default ">
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <form [formGroup]="formParams" style=" margin-top: -15px;">
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <label> Código </label>
                                                            <input type="text" class="form-control form-control-sm disabledForm " formControlName="id_Medico">
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label for=""> Identificador</label>
                                                            <br>
                                                            <select class="form-control comboBox" formControlName="id_Identificador_Medico">
                                                                <option value="0"> [ --SELECCIONE-- ]</option>
                                                                <option [value]="prof.id_Identificador_Medico" *ngFor="let prof of profesiones">{{prof.descripcion_identificador_medico}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label for=""> CMP</label>
                                                            <br>
                                                            <input type="text" class="form-control " (keypress)="keyPress2($event)" maxlength="20" formControlName="cmp_medico">
                                                        </div>
                                                    </div>

                                                    <div class="row ">
                                                        <div class="col-md-4">
                                                            <label> Nombres </label>
                                                            <input type="text" class="form-control " maxlength="200" formControlName="nombres_medico">
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label> AP. Paterno </label>
                                                            <input type="text" class="form-control " maxlength="200" formControlName="apellido_paterno_medico">
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label> AP. Materno </label>
                                                            <input type="text" class="form-control " maxlength="200" formControlName="apellido_materno_medico">
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label for=""> Categoria</label>
                                                            <br>
                                                            <select class="form-control comboBox" formControlName="id_Categoria">
                                                                <option value="0"> [ --SELECCIONE-- ]</option>
                                                                <option [value]="tipo.id_Categoria" *ngFor="let tipo of categorias">{{tipo.descripcion_categoria}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label for=""> Especialidad</label>
                                                            <br>
                                                            <select class="form-control comboBox" formControlName="id_Especialidad1">
                                                                <option value="0"> [ --SELECCIONE-- ]</option>
                                                                <option [value]="esp.id_Especialidad" *ngFor="let esp of especialidades">{{esp.descripcion_especialidad}}</option>
                                                            </select>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <label for=""> Especialidad 2</label>
                                                            <br>
                                                            <select class="form-control comboBox" formControlName="id_Especialidad2">
                                                                <option value="0"> [ --SELECCIONE-- ]</option>
                                                                <option [value]="esp.id_Especialidad" *ngFor="let esp of especialidades">{{esp.descripcion_especialidad}}</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="row ">
                                                        <div class="col-md-4">
                                                            <label> Fecha Nacimiento</label>
                                                            <input class="form-control" #datepickerYMD="bsDatepicker" bsDatepicker formControlName="fecha_nacimiento_medico" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY'  }">
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label> Sexo</label>
                                                            <select class="form-control comboBox" formControlName="sexo_medico">
                                                                <option value="0"> [ --SELECCIONE-- ]</option>
                                                                <option value="M"> Masculino </option>
                                                                <option value="F"> Femenino </option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label> Telefono </label>
                                                            <input type="number" (keypress)="keyPress($event)" class="form-control " maxlength="100" formControlName="telefono_medico">
                                                        </div>
                                                    </div>


                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label> Email </label>
                                                            <input type="text" class="form-control " maxlength="250" formControlName="email_medico">
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label> Tipo de Visitas </label>
                                                            <br>
                                                            <select class="form-control comboBox" formControlName="id_tipo_visita">
                                                                <option value="0"> [ -- SELECCIONE -- ]</option>
                                                                <option [value]="visita.id_tipo_visita" *ngFor="let visita of tipoVisitas">{{visita.descripcion_tipo_visita}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center" *ngIf="idEstadoSolicitudGlobal == 11 || idEstadoSolicitudGlobal == 14 ">
                                        <div class="p-2 bd-highlight" *ngIf="id_MedicoGlobal==0">
                                            <button class="btn btn-sm btn-warning" (click)="saveUpdate()" title="Nuevo direccion"> <i class="fa fa-plus-circle"> </i> Agregar Dirección</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <br>
                <div class="row" *ngIf="id_MedicoGlobal>0">
                    <div class="col-md-12">
                        <fieldset class="shadow">
                            <legend>Datos Dirección</legend>
                            <div class="panel panel-default ">
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <form [formGroup]="formParamsDirection" style=" margin-top: -15px;">
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label for=""> Departamento</label>
                                                            <br>
                                                            <select class="form-control comboBox" formControlName="codigo_departamento" (change)="changeDepartamento($event)">
                                                                <option value="0"> [ --SELECCIONE-- ]</option>
                                                                <option [value]="item.CODDPTO" *ngFor="let item of departamentos">{{item.NOMBRE}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label for=""> Provincia</label>
                                                            <br>
                                                            <select class="form-control comboBox" formControlName="codigo_provincia" (change)="changeProvincia($event)">
                                                                <option value="0"> [ --SELECCIONE-- ]</option>
                                                                <option [value]="prov.CODPROV" *ngFor="let prov of provincias">{{prov.NOMBRE}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label for=""> Distrito</label>
                                                            <br>
                                                            <select class="form-control comboBox" formControlName="codigo_distrito">
                                                                <option value="0"> [ --SELECCIONE-- ]</option>
                                                                <option [value]="dist.CODDIS" *ngFor="let dist of distritos">{{dist.NOMBRE}}</option>
                                                            </select>
                                                        </div>
                                                    </div>


                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <label> Direccion </label>
                                                            <input type="text" class="form-control " maxlength="250" formControlName="direccion_medico_direccion">
                                                        </div>
                                                    </div>


                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <label> Nombre de institución </label>
                                                            <input type="text" class="form-control " maxlength="250" formControlName="nombre_institucion_direccion">
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <label> Referencia </label>
                                                            <textarea class="form-control" formControlName="referencia_medico_direccion" rows="2"></textarea>
                                                        </div>
                                                    </div>

                                                    <div class="row mb-2" *ngIf="idEstadoSolicitudGlobal == 11">
                                                        <div class="col-md-12">
                                                            <div class="text-center mt-2 ">
                                                                <button class="btn btn-sm btn-success " (click)="guardarDetalle_direccion()" title="Guardar Direccion">  <i class="fas fa-save"> Guardar Dirección</i> </button>
                                                                <!-- <button class="btn btn-sm btn-warning ml-2 " (click)="blank_Direccion()">  <i class="fa fa-plus-circle"> Nuevo</i> </button> -->
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <table class="table table-hover table-sm">
                                                        <thead class="theadTable2">
                                                            <tr>
                                                                <th scope="col">#</th>
                                                                <th scope="col">Departamento</th>
                                                                <th scope="col">Provincia</th>
                                                                <th scope="col">Distrito</th>
                                                                <th scope="col">Direccion</th>
                                                                <th scope="col">Referencia</th>
                                                                <th scope="col">Nombre Institucion</th>
                                                                <th colspan="2" class="text-center" *ngIf="idEstadoSolicitudGlobal == 11">Acciones</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of  direccionDetalle; index as i">
                                                                <th scope="row"> {{i + 1}} </th>
                                                                <td>{{item.nombreDepartamento}}</td>
                                                                <td>{{item.nombreProvincia}}</td>
                                                                <td>{{item.nombreDistrito}}</td>
                                                                <td>{{item.direccion_medico_direccion}}</td>
                                                                <td>{{item.referencia_medico_direccion}}</td>
                                                                <td>{{item.nombre_institucion_direccion}}</td>
                                                                <td class="text-center" *ngIf="idEstadoSolicitudGlobal == 11">
                                                                    <span class="badge badge-primary puntero" style="padding: 5px;" (click)="modificarDireccion(item)">  Editar </span>
                                                                </td>
                                                                <td class="text-center" *ngIf="idEstadoSolicitudGlobal == 11">
                                                                    <span class="badge badge-danger puntero" style="padding: 5px;" (click)="eliminarDireccion(item)">  Quitar </span>
                                                                </td>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </form>
                                        </div>

                                    </div>
                                    <br>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <br>

                <div class="d-flex justify-content-between" *ngIf="idEstadoSolicitudGlobal == 11 || idEstadoSolicitudGlobal == 14">
                    <div class="p-2 bd-highlight"></div>
                    <div class="p-2 bd-highlight" style="width: 50%;" *ngIf="id_MedicoGlobal > 0">
                        <button class="btn btn-success btn-block" *ngIf="idEstadoMedicoGlobal == 10 || idEstadoMedicoGlobal == 14" (click)="saveUpdate_final()" title="Guardar la informacion"> <i class="fas fa-save"> GUARDAR MEDICO </i></button>
                    </div>
                    <div class="p-2 bd-highlight"></div>
                </div>



            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="cerrarModal()"> Regresar</button>
            </div> -->
        </div>
    </div>
</div>