

<div class="card border-left-warning  shadow   ">
    <div class="card-header">
        <h5 class="headerTitle"> {{this.tituloTarget}} </h5>
    </div>
    <div class="card-body">

        <form [formGroup]="formParamsFiltro">

            <div class="row" style="margin-top: -10px;">
                <div class="col-md-3">
                    <label for=""> Usuarios</label>
                    <br>
                    <select class="form-control comboBox" formControlName="idUsuario">
                        <option [value]="user.id_Usuario" *ngFor="let user of usuarios">{{user.descripcionUsuario}}</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label class="control-label"> Rango Fecha </label>
                    <div class="input-group">
                        <input class="form-control" #datepickerYMD="bsDatepicker" bsDatepicker formControlName="fecha_ini" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY'  }">
                        <span class="input-group-addon">-</span>
                        <input class="form-control" #datepickerYMD="bsDatepicker" bsDatepicker formControlName="fecha_fin" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                    </div>
                </div>
                <div class="col-md-3">
                    <label for=""> Estado</label>
                    <br>
                    <select class="form-control comboBox " formControlName="estado">
                        <option value="0"> [ -- TODOS-- ]</option>
                        <option [value]="estado.id_Estado" *ngFor="let estado of estados">{{estado.descripcion_estado}}</option>
                    </select>
                </div>
                <div class="col-md-3 text-center">
                    <div class="p-2">
                        <button class="btn btn-primary btn-block  " style="font-size: 13px;" (click)="mostrarInformacion()">  <i class="fas fa-search"> Mostrar </i> </button>
                    </div>
                </div>
            </div>

        </form>
        <hr>

        <div class="d-flex justify-content-between" style=" margin-top: -15px;">
            <div class="p-2 bd-highlight"> </div>
            <div class="p-2 bd-highlight" style="width: 50%;">
                <input type="text" class="form-control form-control-sm " placeholder="Buscar" maxlength="50" [(ngModel)]="filtrarMantenimiento">
            </div>
            <div class="p-2 bd-highlight"> </div>
        </div>

        <div class="search-results tableFixHead">
            <table class="table  table-hover table-sm">
                <thead class="theadTable">
                    <tr style="height: 40px !important;">
                        <th scope="col">#</th>
                        <th scope="col">USUARIO </th>
                        <th scope="col">FECHA SOL </th>

                        <th scope="col">RUC </th>
                        <th scope="col">RAZON SOCIAL </th>
                        <th scope="col">DIRECCION </th>
                        <th class="text-center">NRO CONTACTOS </th>

                        <th scope="col">APROBADOR RECHAZADOR</th>
                        <th scope="col">FECHA RPTA</th> 
                        <th scope="col">MENSAJE RPTA</th> 
                        <th scope="col">ESTADO</th>
                        <th class="text-center" >Aprobar</th>
                        <th class="text-center" >Rechazar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of targetCab |  filter: filtrarMantenimiento  ; index as j">
                        <th scope="row"> {{j + 1}} </th>

                        <td> 
                            <div style= "width:150px">
                                {{item.usuario}}
                            </div>
                        </td>
                        <td>{{item.fechaSol}}</td>

                        <td>{{item.ruc}}</td>
                        <td>
                            <div style= "width:250px">
                                {{item.razon_social}}
                            </div>
                        </td>
                        <td>
                            <div style= "width:350px">
                                {{item.direccion}}
                            </div>
                        </td>
                        <td class="text-center" >{{item.numero_contactos_target_det}}</td>

                        <td> 
                            <div style= "width:150px">
                                {{item.aprobadorRechazador}}
                            </div>
                        </td>
                        <td>
                            {{ item.fechaRespuesta == '1900-01-01T00:00:00'? '': item.fechaRespuesta | date:"dd/MM/yyyy" }}
                        </td>
                        <td>
                            <div style= "width:150px">
                                {{item.textoRespuesta}}
                            </div>
                        </td>
                        <td>{{item.descripcionEstado}}</td>
                        <td class="text-center" >
                            <span   class="badge badge-success puntero" style="padding: 5px;" (click)="aprobarRechazar_altasBajas_target('A',item)" *ngIf="(item.idEstado == 16 ) ">  Aprobar </span>
                        </td>
                        <td class="text-center" >
                            <span   class="badge badge-danger puntero" style="padding: 5px;" (click)="aprobarRechazar_altasBajas_target('R', item)" *ngIf="(item.idEstado == 16 ) ">  Rechazar </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
 
