<app-spinnerloading></app-spinnerloading>


<nav class="navbar navbar-dark navbar-expand-md   sticky-top" style="background-color: #117a8b;" *ngIf="showMenu">
    <a class="navbar-brand" [routerLink]="['/']">
        <i class="fas fa-house-user fa-1x"></i> ITF-PERU
    </a>
    <button class="navbar-toggler bg-success" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto " style="color: #00b6ad !important;">
            <li class="nav-item dropdown " *ngFor="let menu of menuPrincipal" style="color: white !important;">
                <a class="nav-link dropdown-toggle  d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" style="color: white !important ; font-size: 11px; font-weight: 600; font-family:tahoma !important" aria-haspopup="true" aria-expanded="false">
                    {{menu.nombre_principal | uppercase}}
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item " [routerLink]="menu2.url_page" *ngFor="let menu2 of menu.listMenu">
                        <i [class]="menu2.url_image"></i> {{menu2.nombre_page | uppercase }}
                    </a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 formBoton">
            <div class="dropdown" *ngIf="showMenu">
                <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 {{nameUser}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <div class="text-center">
                        <!-- <button class="btn btn-outline-danger btn-sm my-2 my-sm-0 " type="button" (click)="cerrarSesion()">  Cerrar Sesion</button> -->
                        <a class="dropdown-item" href="#" (click)="cerrarSesion()">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Cerrar Sesion
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</nav>