<div class="card border-left-warning  shadow   ">
    <div class="card-header">
        <h5 class="headerTitle"> APROBACION DE SOLICITUD DE NUEVA DIRECCION </h5>
    </div>
    <div class="card-body">

        <form [formGroup]="formParamsFiltro">
            <div class="row" style="margin-top: -10px;">
                <div class="col-md-3">
                    <label for=""> Usuarios</label>
                    <br>
                    <select class="form-control comboBox" formControlName="idUsuario">
                        <option [value]="user.id_Usuario" *ngFor="let user of usuarios">{{user.descripcionUsuario}}</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for=""> Estado</label>
                    <br>
                    <select class="form-control comboBox " formControlName="idEstado">
                        <option value="0"> [ -- TODOS-- ]</option>
                        <option [value]="estado.id_Estado" *ngFor="let estado of estados">{{estado.descripcion_estado}}</option>
                    </select>
                </div>
                <div class="col-md-3 text-center">
                    <br>
                    <button class="btn btn-primary " (click)="mostrarInformacion()" style="font-size: 11px;">  <i class="fas fa-search"> </i> Mostrar </button>
                    <!-- <button class="btn btn-warning ml-1 " (click)="nuevo()" style="font-size: 11px;">  <i class="fa fa-plus-circle"> </i> Nuevo </button> -->
                </div>
            </div>
        </form>
        <hr>

        <div class="d-flex justify-content-between" style=" margin-top: -15px;">
            <div class="p-2 bd-highlight"> </div>
            <div class="p-2 bd-highlight" style="width: 50%;">
                <input type="text" class="form-control form-control-sm " placeholder="Buscar" maxlength="50" [(ngModel)]="filtrarMantenimiento">
            </div>
            <div class="p-2 bd-highlight"> </div>
        </div>

        <div class="search-results tableFixHead">
            <table class="table  table-hover table-sm">
                <thead class="theadTable">

                    <tr style="height: 40px !important;">
                        <th scope="col">#</th>

                        <th scope="col">NRO</th>
                        <th scope="col">Solicitante</th>
                        <th scope="col">Fecha Solicitud</th>
                        <th scope="col">Fecha Respuesta</th>
                        <th scope="col">Comentario Respuesta</th>


                        <th scope="col">Estado</th>
                        <th class="text-center">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of solicitudesDireccionesCab |  filter: filtrarMantenimiento  ; index as j" [ngStyle]="item.estado == 27 && {'color': 'red'}">
                        <th scope="row"> {{j + 1}} </th>

                        <td>{{item.id_Sol_Medico_Direccion}} </td>
                        <td>{{item.solicitante}} </td>
                        <td>{{item.fechaSolicitud}} </td>
                        <td>{{item.fechaRespuesta}} </td>
                        <td>{{item.comentarioRespuesta}} </td>
                        <td>{{item.descripcionEstado}}</td>
                        <td class="text-center">
                            <span class="badge badge-info puntero btn-block" *ngIf="(item.idEstado == 26 ) " style="padding: 5px;font-size: 9px;" (click)="editar(item)">  Aprobar - Rechazar </span>
                            <span class="badge badge-dark puntero btn-block" *ngIf="(item.idEstado == 27 || item.idEstado == 28 ) " style="padding: 5px;font-size: 9px;" (click)="editar(item)">  Visualizar </span>
                            <span class="badge badge-warning puntero btn-block" *ngIf="(item.idEstado == 29 ) " style="padding: 5px;font-size: 9px;" (click)="editar(item)">  Visualizar </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<div class="modal fade " id="modal_mantenimiento" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel  " aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="p-3 card ">
                    <div class="d-flex justify-content-between flotante">
                        <div class=" bd-highlight">
                            <!-- <i class="fas fa-arrow-circle-left  fa-2x puntero" title="Retornar" (click)="cerrarModal()">  </i> -->
                        </div>
                        <div class=" bd-highlight">
                            <h5 class="headerTitleModal">APROBACION SOLICITUD DE NUEVO DIRECCION </h5>
                        </div>
                        <div class=" bd-highlight">
                            <i class="far fa-times-circle fa-2x puntero" title="Retornar" (click)="cerrarModal()">  </i>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-between">
                    <div class="p-2 bd-highlight"> </div>
                    <div class="p-2 bd-highlight"></div>
                    <div class="p-2 bd-highlight">


                        <div class="card border-info " *ngIf="idEstado_Global ==26">
                            <div class="card-body text-info" style="margin-bottom: -15px; margin-top: -15px; width: 300px; text-align: center;">
                                <i class="fas fa-share-square"></i>
                                <strong style="font-size: 15px; margin-bottom: 0px; font-weight: 700;"> {{this.descripcionEstadoGlobal | uppercase}} </strong>
                            </div>
                        </div>



                        <div class="card border-danger " *ngIf="idEstado_Global == 27">
                            <div class="card-body text-danger" style="margin-bottom: -15px; margin-top: -15px; width: 300px; text-align: center;">
                                <i class="fas fa-window-close"></i>
                                <strong style="font-size: 15px; margin-bottom: 0px; font-weight: 700;"> {{this.descripcionEstadoGlobal | uppercase}} </strong>
                            </div>
                        </div>
                        <div class="card border-success " *ngIf="idEstado_Global == 28">
                            <div class="card-body text-success" style=" margin-bottom: -15px; margin-top: -15px; width: 300px; text-align: center;">
                                <i class="far fa-check-circle"></i>
                                <strong style="font-size: 15px; margin-bottom: 0px; font-weight: 700;"> {{this.descripcionEstadoGlobal | uppercase}} </strong>
                            </div>
                        </div>

                        <div class="card border-warning " *ngIf="idEstado_Global == 29">
                            <div class="card-body text-warning" style=" margin-bottom: -15px; margin-top: -15px; width: 300px; text-align: center;">
                                <i class="far fa-check-circle"></i>
                                <strong style="font-size: 15px; margin-bottom: 0px; font-weight: 700;"> {{this.descripcionEstadoGlobal | uppercase}} </strong>
                            </div>
                        </div>

                    </div>

                </div>



                <fieldset class="shadow-sm  ">
                    <legend>DATOS SOLICITUD</legend>
                    <div class="panel panel-default ">
                        <div class="panel-body">
                            <div class="row" style=" margin-top: -10px;">
                                <div class="col-md-12">
                                    <div class="row ">
                                        <div class="col-md-8">
                                            <label> Usuario </label>
                                            <input type="text" class="form-control disabledForm " maxlength="250" name='solicitante' [(ngModel)]="solicitante">
                                        </div>
                                        <div class="col-md-4">
                                            <label> Fecha Solicitud </label>
                                            <input type="text" class="form-control disabledForm " maxlength="250" name='fechaSolicitud' [(ngModel)]="fechaSolicitud">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>



                <form [formGroup]="formParamsMedico">

                    <!-- <fieldset class="shadow-sm" *ngIf="idEstado_Global == 26 ||  idEstado_Global == 29">
                        <legend>FILTRAR MEDICOS </legend>
                        <div class="panel panel-default ">
                            <div class="panel-body">

                                <div class="row" style=" margin-top: -10px;">
                                    <div class="col-md-6">
                                        <label for=""> Categoria</label>
                                        <br>
                                        <select class="form-control comboBox" formControlName="categoria">
                                            <option value="0"> [ --TODOS-- ]</option>
                                            <option [value]="tipo.id_Categoria" *ngFor="let tipo of categorias">{{tipo.descripcion_categoria}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for=""> Especialidad</label>
                                        <br>
                                        <select class="form-control comboBox" formControlName="especialidad">
                                            <option value="0"> [ -- TODOS-- ]</option>
                                            <option [value]="esp.id_Especialidad" *ngFor="let esp of especialidades">{{esp.descripcion_especialidad}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-8">
                                        <label for=""> Busqueda Medico</label>
                                        <br>
                                        <input type="text" class="form-control form-control-sm  " placeholder="Buscar por Nombres o Apellidos" maxlength="200" formControlName="medico">
                                    </div>
                                    <div class="col-md-4">
                                        <br>
                                        <button class="btn btn-dark btn-block  " style="font-size: 13px;" (click)="buscarMedico(0)">  <i class="fas fa-search"> Buscar </i> </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </fieldset>

                    <hr> -->

                    <fieldset class="shadow-sm  " [attr.disabled]="flagBloquearMedico ? true : null">
                        <legend>DATO DEL MEDICO</legend>
                        <div class="panel panel-default ">
                            <div class="panel-body">

                                <div class="row" style=" margin-top: -10px;">
                                    <div class="col-md-8">
                                        <label for=""> Medico</label>
                                        <br>
                                        <select class="form-control comboBox" formControlName="idMedico">
                                        <option value="0"> [ -- SELECCIONE -- ]</option>
                                        <option [value]="med.id_Medico" *ngFor="let med of medicosDet">{{med.datosMedico | uppercase}}   </option>
                                    </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </fieldset>

                </form>

                <fieldset class="shadow" [attr.disabled]="flagBloquearMedico ? true : null">
                    <legend>DATO DE LA DIRECCION</legend>
                    <div class="panel panel-default ">
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-md-12">
                                    <form [formGroup]="formParamsDirection" style=" margin-top: -15px;">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label for=""> Departamento</label>
                                                    <br>
                                                    <select class="form-control comboBox" formControlName="codigo_departamento" (change)="changeDepartamento($event)">
                                                        <option value="0"> [ --SELECCIONE-- ]</option>
                                                        <option [value]="item.CODDPTO" *ngFor="let item of departamentos">{{item.NOMBRE}}</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for=""> Provincia</label>
                                                    <br>
                                                    <select class="form-control comboBox" formControlName="codigo_provincia" (change)="changeProvincia($event)">
                                                        <option value="0"> [ --SELECCIONE-- ]</option>
                                                        <option [value]="prov.CODPROV" *ngFor="let prov of provincias">{{prov.NOMBRE}}</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for=""> Distrito</label>
                                                    <br>
                                                    <select class="form-control comboBox" formControlName="codigo_distrito">
                                                        <option value="0"> [ --SELECCIONE-- ]</option>
                                                        <option [value]="dist.CODDIS" *ngFor="let dist of distritos">{{dist.NOMBRE}}</option>
                                                    </select>
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label> Direccion </label>
                                                    <input type="text" class="form-control " maxlength="250" formControlName="direccion_medico_direccion">
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label> Nombre de institución </label>
                                                    <input type="text" class="form-control " maxlength="250" formControlName="nombre_institucion_direccion">
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label> Referencia </label>
                                                    <textarea class="form-control" formControlName="referencia_medico_direccion" rows="2"></textarea>
                                                </div>
                                            </div>

                                        </div>

                                    </form>
                                </div>

                            </div>
                            <br>
                        </div>
                    </div>
                </fieldset>

                <!-- <div class="d-flex justify-content-center" *ngIf="idEstado_Global == 26 ||  idEstado_Global == 29">
                    <div class="p-2 bd-highlight">
                        <button class="btn btn-success" (click)="saveUpdate()" title="Guardar la solicitud "> <i class="fas fa-save"> Grabar</i></button>
                    </div>
                </div> -->


                <div class="d-flex justify-content-center" *ngIf="idEstado_Global == 26 ||  idEstado_Global == 29">
                    <div class="p-2 bd-highlight">
                        <button class="btn btn-success" style=" font-size: 12px;" (click)="open_modalAprobarRechazar()" title="Aprobar Rechazar"> <i class="fas fa-save"> GENERAR APROBACION</i></button>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modal_aprobacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content" style="    border-color: red;">
            <div class="modal-header">
                <div class="clearfix">
                    <h1 class="modal-title float-left text-success"> APROBAR </h1> -
                    <h1 class="modal-title float-right text-danger"> RECHAZAR</h1>
                </div>

                <button type="button" class="close" (click)="cerrarModalAprobar()" aria-label="Close">  <span aria-hidden="true">&times;</span>     </button>
            </div>
            <div class="modal-body">

                <form [formGroup]="formParamsSolDet" style=" margin-top: -15px;">
                    <fieldset class="shadow-sm mt-2">
                        <legend>DETALLE RESPUESTA</legend>
                        <div class="panel panel-default ">
                            <div class="panel-body">
                                <div class="row" style=" margin-top: -10px;">
                                    <div class="col-md-12">
                                        <div class="row ">
                                            <div class="col-12">
                                                <label> Aprobado por : </label>
                                                <input type="text" class="form-control disabledForm " maxlength="250" formControlName="aprobadorRechazador">
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-6">
                                                <label> Fecha Respuesta </label>
                                                <input class="form-control disabledForm" #datepickerYMD="bsDatepicker" bsDatepicker formControlName="fechaRespuesta" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY'  }">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label> Mensaje Respuesta </label>
                                                <textarea class="form-control" style="background: rgb(253, 253, 120);; color: black; font-weight: 600;font-size: 13px;" maxlength="255" formControlName="descripcionRespuesta" rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </fieldset>
                </form>

                <div class="d-flex justify-content-center" *ngIf=" (idEstado_Global == 26 || idEstado_Global == 29 )? true:false ">
                    <div class="p-2 bd-highlight">
                        <button class="btn btn-success" title="Aprobar" (click)="aprobarRechazarDireccion('A')"> <i class="far fa-check-circle"> Aprobar </i></button>
                        <button class="btn btn-warning ml-2" title="Aprobar" (click)="aprobarRechazarDireccion('O')"> <i class="fas fa-tasks"> Observada </i></button>
                        <button class="btn btn-danger ml-2" title="Rechazar" (click)="aprobarRechazarDireccion('R')"> <i class="fas fa-window-close"> Rechazar </i></button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>