<div class="card border-left-warning  shadow   ">
    <div class="card-header">
        <h5 class="headerTitle"> APROBACION DE  SOLICITUD DE NUEVAS BOTICAS Y FARMACIAS </h5>
    </div>
    <div class="card-body">

        <form [formGroup]="formParamsFiltro">

            <div class="row" style="margin-top: -10px;">
                <div class=" col-sm-3 col-md-3  col-lg-3 ">
                    <label for=""> Usuarios</label>
                    <br>
                    <select class="form-control comboBox" formControlName="idUsuario">
                        <option [value]="user.id_Usuario" *ngFor="let user of usuarios">{{user.descripcionUsuario}}</option>
                    </select>
                </div>
                <div class=" col-sm-6 col-md-6  col-lg-3 ">
                    <label class="control-label"> Rango Fecha </label>
                    <div class="input-group">
                        <input class="form-control" #datepickerYMD="bsDatepicker" bsDatepicker formControlName="fecha_ini" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY'  }">
                        <span class="input-group-addon">-</span>
                        <input class="form-control" #datepickerYMD="bsDatepicker" bsDatepicker formControlName="fecha_fin" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                    </div>
                </div>
                <div class="col-sm-3  col-md-3  col-lg-3   ">
                    <label for=""> Estado</label>
                    <br>
                    <select class="form-control comboBox " formControlName="idEstado">
                        <option value="0"> [ -- TODOS-- ]</option>
                        <option [value]="estado.id_Estado" *ngFor="let estado of estados">{{estado.descripcion_estado}}</option>
                    </select>
                </div>
                <div class="col-xs-12 col-md-12  col-lg-3  text-center">    
                    <br>             
                    <button class="btn btn-block btn-primary  ml-1" style="font-size: 13px;" (click)="mostrarInformacion_solicitud()">  <i class="fas fa-search"> Mostrar </i> </button>
          
                </div>
            </div>

        </form>
        <hr>
        <div class="d-flex justify-content-between" style=" margin-top: -15px;">
            <div class="p-2 bd-highlight"> </div>
            <div class="p-2 bd-highlight" style="width: 50%;">
                <input type="text" class="form-control form-control-sm " placeholder="Buscar" maxlength="50" [(ngModel)]="filtrarMantenimiento">
            </div>
            <div class="p-2 bd-highlight"> </div>
        </div>

        <div class="search-results tableFixHead">
            <table class="table  table-hover table-sm">
                <thead class="theadTable">

                    <tr style="height: 40px !important;">
                        <th scope="col">#</th>
                        <th scope="col">Solicitante</th>
                        <th scope="col">Fecha Solicitud</th>
                        <th scope="col">Razon Social</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Fecha Respuesta</th>
                        <th scope="col">Comentario Respuesta</th>
                        <th scope="col">Estado</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of solicitudCab |  filter: filtrarMantenimiento  ; index as j" [ngStyle]="item.id_estado == 12 && {'color': 'red'}">
                        <th scope="row"> {{j + 1}} </th>
                        <td>{{item.solicitante}} </td>
                        <td>{{item.fechaSolicitudFormateado}} </td>
                        <td> 
                            <div style="width:300px">
                                {{item.razonSocial}} 
                            </div>
                        </td>                        
                        <td>
                            <div style="width:350px">
                                {{item.direccion}} 
                            </div>
                        </td>
                        <td>{{item.fechaRespuesta}} </td>
                        <td> 
                            <div style="width: 200px;">
                                {{item.comentarioRespuesta}} 
                            </div>    
                        </td>
                        
                        <td style="font-size: 13px;">{{item.descripcionEstado}}</td>
                        <td class="text-center">
                            <span class="badge badge-info puntero btn-block" *ngIf="(item.id_estado == 11 ) " style="padding: 5px;font-size: 9px;" (click)="editar_aprobacionSolicitudByFCab(item)">  Aprobar - Rechazar </span>
                            <span class="badge badge-dark puntero btn-block" *ngIf="(item.id_estado == 12 || item.id_estado == 13 ) " style="padding: 5px;font-size: 9px;" (click)="editar_aprobacionSolicitudByFCab(item)">  Visualizar </span>
                            <span class="badge badge-warning puntero btn-block" *ngIf="(item.id_estado == 14 ) " style="padding: 5px;font-size: 9px;" (click)="editar_aprobacionSolicitudByFCab(item)">  Visualizar </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<!-- ------------------------------ SOLICITUDES ---------------------- -->
<!-- ------------------------------         ---------------------- -->

<div class="modal fade " id="modal_solicitud" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel  " aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable " role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="p-3 card ">
                    <div class="d-flex justify-content-between flotante">
                        <div class=" bd-highlight">
                            <!-- <i class="fas fa-arrow-circle-left  fa-2x puntero" title="Retornar" (click)="cerrarModal_solicitud()">  </i> -->
                        </div>
                        <div class=" bd-highlight">
                            <h5 class="headerTitleModal"> APROBACION SOLICITUD DE BOTICAS Y FARMACIAS </h5>
                        </div>
                        <div class=" bd-highlight">
                            <i class="far fa-times-circle fa-2x puntero" title="Retornar" (click)="cerrarModal_solicitud()">  </i>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="p-2 bd-highlight"> </div>
                    <div class="p-2 bd-highlight"> </div>
                    <div class="p-2 bd-highlight">
                        <div class="card border-warning " *ngIf="idEstadoSolicitudGlobal == 10">
                            <div class="card-body text-warning" style="margin-bottom: -15px; margin-top: -15px; width: 300px; text-align: center;">
                                <i class="fas fa-check-circle"></i>
                                <strong style="font-size: 15px; margin-bottom: 0px; font-weight: 700;"> {{this.descripcionEstadoGlobal | uppercase}} </strong>
                            </div>
                        </div>
                        <div class="card border-info " *ngIf="idEstadoSolicitudGlobal == 11">
                            <div class="card-body text-info" style="margin-bottom: -15px; margin-top: -15px; width: 300px; text-align: center;">
                                <i class="fas fa-share-square"></i>
                                <strong style="font-size: 15px; margin-bottom: 0px; font-weight: 700;"> {{this.descripcionEstadoGlobal | uppercase}} </strong>
                            </div>
                        </div>
        
                        <div class="card border-danger " *ngIf="idEstadoSolicitudGlobal ==12">
                            <div class="card-body text-danger" style="margin-bottom: -15px; margin-top: -15px; width: 300px; text-align: center;">
                                <i class="fas fa-window-close"></i>
                                <strong style="font-size: 15px; margin-bottom: 0px; font-weight: 700;"> {{this.descripcionEstadoGlobal | uppercase}} </strong>
                            </div>
                        </div>
                        <div class="card border-success " *ngIf="idEstadoSolicitudGlobal ==13">
                            <div class="card-body text-success" style=" margin-bottom: -15px; margin-top: -15px; width: 300px; text-align: center;">
                                <i class="far fa-check-circle"></i>
                                <strong style="font-size: 15px; margin-bottom: 0px; font-weight: 700;"> {{this.descripcionEstadoGlobal | uppercase}} </strong>
                            </div>
                        </div>
                        <div class="card border-warning " *ngIf="idEstadoSolicitudGlobal ==14">
                            <div class="card-body text-warning" style=" margin-bottom: -15px; margin-top: -15px; width: 300px; text-align: center;">
                                <i class="far fa-check-circle"></i>
                                <strong style="font-size: 15px; margin-bottom: 0px; font-weight: 700;"> {{this.descripcionEstadoGlobal | uppercase}} </strong>
                            </div>
                        </div>
                    </div>
                </div>


                <form [formGroup]="formParamsSolCab" style=" margin-top: -15px;">

                    <fieldset class="shadow-sm  ">
                        <legend>DATOS SOLICITUD</legend>
                        <div class="panel panel-default ">
                            <div class="panel-body">
                                <div class="row" style=" margin-top: -10px;">
                                    <div class="col-md-12">
                                        <div class="row ">
                                            <div class="col-md-8">
                                                <label> Usuario </label>
                                                <input type="text" class="form-control disabledForm " maxlength="250" formControlName="solicitante">
                                            </div>
                                            <div class="col-md-4">
                                                <label> Fecha Solicitud </label>
                                                <input class="form-control disabledForm" #datepickerYMD="bsDatepicker" bsDatepicker formControlName="fechaSolicitud" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY'  }">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="shadow-sm mt-2">
                        <legend>DETALLE DE SOLICITUD</legend>
                        <div class="panel panel-default ">
                            <div class="panel-body">

                                <div class="search-results tableFixHead">
                                    <table class="table  table-hover table-sm">
                                        <thead class="theadTable2">

                                            <tr style="height: 40px !important;">
                                                <th scope="col">#</th>
                                                <th scope="col">RUC</th>
                                                <th scope="col">Razon Social</th>
                                                <th scope="col">Categoria</th>
                                                <th scope="col">Direccion</th>


                                                <th scope="col">Aprobador</th>
                                                <th scope="col">Fecha Respuesta</th>
                                                <th scope="col">Mensaje Respuesta</th>

                                                <th scope="col">Estado</th>
                                                <th class="text-center">Aprobar o Rechazar</th>
                                                <th class="text-center">Editar</th>
    
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of solicitudDetalle; index as j" [ngStyle]="item.estado == 12 && {'color': 'red'}">
                                                <th scope="row"> {{j + 1}} </th>
                                                <td>{{item.cmp_medico}} </td>
                                                <td>
                                                    <div style="width: 300px;">
                                                        {{item.nombres_medico}} {{item.apellido_paterno_medico}} {{item.apellido_materno_medico}} 
                                                    </div>
                                                </td>
                                                <td>{{item.codigo_categoria}} </td>
                                           
                                                <div style="width: 200px;">
                                                    {{item.direccion}}  
                                                </div>

                                                <td> 
                                                    <div style="width: 200px;">
                                                        {{item.aprobadorRechazador}} 
                                                    </div> 
                                                </td>
                                                <td>{{item.fechaRespuesta}} </td>
                                                <td> 
                                                    <div style="width: 200px;">
                                                        {{item.descripcionRespuesta}} 
                                                    </div>    
                                                </td>

                                                <td>{{item.descripcion_estado}}</td>
                                                <td class="text-center">
                                                    <span class="badge badge-success puntero" style="padding: 5px;" *ngIf="(item.estado == 10 || item.estado == 14 ) " (click)="open_modalAprobarRechazar(item)">  Aprobar o Rechazar </span>
                                                </td>
                                                <td class="text-center">
                                                    <span class="badge badge-primary puntero" style="padding: 5px;" (click)="editar(item)">  ver </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>

        </div>
    </div>
</div>


 
<div class="modal fade " id="modal_mantenimiento" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel  " aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content"> 
         
            <div class="modal-body">
                <div class="p-3 card ">
                    <div class="d-flex justify-content-between flotante">
                        <div class=" bd-highlight">
                            <!-- <i class="fas fa-arrow-circle-left  fa-2x puntero" title="Retornar" (click)="cerrarModal()">  </i> -->
                        </div>
                        <div class=" bd-highlight">
                            <h5 class="headerTitleModal"> REGISTRO DE SOLICITUD DE NUEVAS BOTICAS Y FARMACIAS </h5>
                        </div>
                        <div class=" bd-highlight">
                            <i class="far fa-times-circle fa-2x puntero" title="Retornar" (click)="cerrarModal()">  </i>
                        </div>
                    </div>
                </div>               

            <fieldset class="shadow-sm  ">
                    <legend>DATOS GENERALES</legend>
                    <div class="panel panel-default ">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form [formGroup]="formParams" >
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label> Código Médico </label>
                                                    <input type="text" class="form-control form-control-sm disabledForm " formControlName="id_Medico">
                                                </div>
                                                <div class="col-md-4">
                                                    <label for=""> Identificador</label>
                                                    <br>
                                                    <select class="form-control comboBox" formControlName="id_Identificador_Medico">
                                                        <option value="0"> [ --SELECCIONE-- ]</option>
                                                        <option [value]="prof.id_Identificador_Medico" *ngFor="let prof of profesiones">{{prof.descripcion_identificador_medico}}</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for=""> Ruc</label>
                                                    <br>
                                                    <input type="text" class="form-control " (keypress)="keyPress($event)" (keyup.enter)="buscarRuc()"  maxlength="20" formControlName="cmp_medico">
                                                </div>
                                            </div>
        
                                            <div class="row ">
                                                <div class="col-md-8">
                                                    <label> Razón Social </label>
                                                    <input type="text" class="form-control " maxlength="200" formControlName="nombres_medico">
                                                </div>
                                                <div class="col-md-4">
                                                    <label for=""> Categoria</label>
                                                    <br>
                                                    <select class="form-control comboBox" formControlName="id_Categoria">
                                                        <option value="0"> [ --SELECCIONE-- ]</option>
                                                        <option [value]="tipo.id_Categoria" *ngFor="let tipo of categorias">{{tipo.descripcion_categoria}}</option>
                                                    </select>
                                                </div>
                                            </div>
        
                                            <div class="row ">
                                                <div class="col-md-6">
                                                    <label> Email </label>
                                                    <input type="text" class="form-control " maxlength="250" formControlName="email_medico">
                                                </div>
        
                                                <div class="col-md-3">
                                                    <label> Teléfono </label>
                                                    <input type="number" class="form-control " (keypress)="keyPress($event)" maxlength="100" formControlName="telefono_medico">
                                                </div>
        
                                                <div class="col-md-3">
                                                    <label> Tipo de Visitas </label>
                                                    <br>
                                                    <select class="form-control comboBox" formControlName="id_tipo_visita">
                                                        <option value="0"> [ -- SELECCIONE -- ]</option>
                                                        <option [value]="visita.id_tipo_visita" *ngFor="let visita of tipoVisitas">{{visita.descripcion_tipo_visita}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                           <!--         
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label> Estado</label>
                                                    <br>
                                                    <select id="cboEstado" class="form-control comboBox" formControlName="estado">
                                                        <option value="-1"> [ --SELECCIONE-- ]</option>
                                                        <option value="1"> Activo </option>
                                                        <option value="0"> Anulado </option>
                                                    </select>
                                                </div>
                                            </div> -->
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <hr>
        
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form [formGroup]="formParamsDirection"  >
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label for=""> Departamento</label>
                                                            <br>
                                                            <select class="form-control comboBox" formControlName="codigo_departamento" (change)="changeDepartamento($event)">
                                                                <option value="0"> [ --SELECCIONE-- ]</option>
                                                                <option [value]="item.CODDPTO" *ngFor="let item of departamentos">{{item.NOMBRE}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label for=""> Provincia</label>
                                                            <br>
                                                            <select class="form-control comboBox" formControlName="codigo_provincia" (change)="changeProvincia($event)">
                                                                <option value="0"> [ --SELECCIONE-- ]</option>
                                                                <option [value]="prov.CODPROV" *ngFor="let prov of provincias">{{prov.NOMBRE}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label for=""> Distrito</label>
                                                            <br>
                                                            <select class="form-control comboBox" formControlName="codigo_distrito" (change)="changeDistritos($event)" >
                                                                <option value="0"> [ --SELECCIONE-- ]</option>
                                                                <option [value]="dist.CODDIS" *ngFor="let dist of distritos">{{dist.NOMBRE}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <label> Dirección </label>
                                                            <input type="text" class="form-control " maxlength="250" formControlName="direccion_medico_direccion">
                                                        </div>
                                                    </div>
                                                    <br>
  
                                                    <div class=" tableFixHead " *ngIf="idEstadoSolicitudGlobal == 11 || idEstadoSolicitudGlobal == 14 "  >
                                                        <table class="table table-hover table-sm">
                                                            <thead class="theadTable">
                                                                <tr>
                                                                    <th scope="col">#</th>
                                                                    <th scope="col">Departamento</th>
                                                                    <th scope="col">Provincia</th>
                                                                    <th scope="col">Distrito</th>
                                                                    <th scope="col">Direccion</th>               
                                                                     </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let item of  direccionDetalle; index as i">
                                                                    <th scope="row"> {{i + 1}} </th>
                                                                    <td>{{item.nombreDepartamento}}</td>
                                                                    <td>{{item.nombreProvincia}}</td>
                                                                    <td>{{item.nombreDistrito}}</td>
                                                                    <td>{{item.direccion_medico_direccion}}</td>        
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
        
                                            </form>
                                        </div>
        
                                    </div>
                                </div>
                            </div>
        
                            <div class="d-flex justify-content-center" *ngIf="idEstadoSolicitudGlobal == 10 || idEstadoSolicitudGlobal == 11 || idEstadoSolicitudGlobal == 14 " >
                                <div class="p-2 bd-highlight">
                                    <button class="btn btn-success" (click)="saveUpdate_boticasFarmacias()" title="Guardar la informacion"> <i class="fas fa-save"> Actualizar </i></button>
                                </div>
                            </div>

                        </div>
                    </div>
                </fieldset>
 
            </div>
  
        </div>
    </div>
</div>

<!-- ------------------------------ APROBACION O RECHAZO ---------------------- -->
<!-- ------------------------------         ---------------------- -->

<div class="modal fade" id="modal_aprobacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content" style="    border-color: red;">
            <div class="modal-header">
                <div class="clearfix">
                    <h1 class="modal-title float-left text-success"> APROBAR </h1> -
                    <h1 class="modal-title float-right text-danger"> RECHAZAR</h1>
                </div>

                <button type="button" class="close" (click)="cerrarModalAprobar()" aria-label="Close">  <span aria-hidden="true">&times;</span>     </button>
            </div>
            <div class="modal-body">

                <form [formGroup]="formParamsSolDet" style=" margin-top: -15px;">
                    <fieldset class="shadow-sm mt-2">
                        <legend>DETALLE RESPUESTA</legend>
                        <div class="panel panel-default ">
                            <div class="panel-body">
                                <div class="row" style=" margin-top: -10px;">
                                    <div class="col-md-12">
                                        <div class="row ">
                                            <div class="col-12">
                                                <label> {{descripcionEstadoGlobal}} por : </label>
                                                <input type="text" class="form-control disabledForm " maxlength="250" formControlName="aprobadorRechazador">
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-6">
                                                <label> Fecha Respuesta </label>
                                                <input class="form-control disabledForm" #datepickerYMD="bsDatepicker" bsDatepicker formControlName="fechaRespuesta" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY'  }">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label> Mensaje Respuesta </label>
                                                <textarea class="form-control" style="background: rgb(253, 253, 120);; color: black; font-weight: 600;font-size: 13px;" maxlength="255" formControlName="descripcionRespuesta" rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </fieldset>
                </form>

                <div class="d-flex justify-content-center" *ngIf=" (idEstadoSolicitudGlobal == 11 || idEstadoSolicitudGlobal == 14 )? true:false ">
                    <!-- <div class="d-flex justify-content-center"> -->
                    <div class="p-2 bd-highlight">
                        <button class="btn btn-success" title="Aprobar" (click)="aprobarRechazarMedico('A')"> <i class="far fa-check-circle"> Aprobar </i></button>
                        <button class="btn btn-warning ml-2" title="Aprobar" (click)="aprobarRechazarMedico('O')"> <i class="fas fa-tasks"> Observada </i></button>
                        <button class="btn btn-danger ml-2" title="Rechazar" (click)="aprobarRechazarMedico('R')"> <i class="fas fa-window-close"> Rechazar </i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


